mixin accountant(title,text,number,day,hour,hours,minute,minutes,second,seconds)
	.hero
		h2.hero__title=title 
			.counter
				p.counter__text=text
				ul.counter__container
					li.counter__item
						p.counter__number=number
						p.counter__type=day 
					li.counter__item
						p.counter__number=hour
						p.counter__type=hours
					li.counter__item
						p.counter__number=minute
						p.counter__type=minutes 
					li.counter__item
						p.counter__number=second
						p.counter__type=seconds 